
@{
    Layout = null;
}

@{ 
    TempData["UserId"] = TempData["id"];
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Userpage</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="row-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Book Reading Application</a>
            <a class="navbar-brand" href="#">Hey User</a>
            <a class="nav-link" href="helpdesk.nagarro.com">Customer Support <span class="sr-only">(current)</span></a>

            <a class="nav-link" style="margin-left:500px;" href="@Url.Action("index", "Home")">Logout</a>
        </nav>
    </div>

    <div class="row">
        
            <div class="col-sm-4" style="margin-left:40px; margin-top:30px;">
                <div class="card" style="background-color:antiquewhite">
                    <div class="card-body">
                        <h5 class="card-title">Create Your Event</h5>
                        <p class="card-text">Create Your own Event Add your title,venue,time all Details</p>
                        <a class="nav-link" href="@Url.Action("CreateEvent", "Book")">Create Event <span class="sr-only">(current)</span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style=" margin-top:30px;">
                <div class="card"style="background-color:darkkhaki">
                    <div class="card-body">
                        <h5 class="card-title">My Events</h5>
                        <p class="card-text">Check out All your Events, Edit them, Update Them</p>
                        <a class="nav-link" href="@Url.Action("MyEvent", "Book")">My Events <span class="sr-only">(current)</span></a>
                    </div>
                </div>
            </div>
     </div>
    <div class="row">
        <div class="col-sm-4" style="margin-left:40px; margin-top:30px;">
            <div class="card" style="background-color:aliceblue">
                <div class="card-body">
                    <h5 class="card-title">Events Invited</h5>
                    <p class="card-text">Check out all events you are Invited to</p>
                    <a class="nav-link" href="@Url.Action("EventInvitedTo", "Book")">EventsInvitedTo <span class="sr-only">(current)</span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style=" margin-top:30px;">
            <div class="card" style="background-color:aliceblue">
                <div class="card-body">
                    <h5 class="card-title">All Events</h5>
                    <p class="card-text">Check out all events </p>
                    <a class="nav-link" href="@Url.Action("AllEvents", "Book")">AllEvents <span class="sr-only">(current)</span></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
