@model EntityModel.CommentModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowComment</title>
</head>
<body>

<div>
    <h4>CommentModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventmodel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventmodel.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>
<div class="container">
    <div class="col-md-12" align="center" style="width: 50%">
        @using (Html.BeginForm("PostComment", "Comment", new { EventId = Model.EventId }))
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-9">
                        <p>
                            <a class="float-left">
                                <strong class="text-success">Anonymous</strong>
                            </a>
                        </p>
                    </div>
                    <div class="col-sm-9">
                        <textarea class="form-control" name="comment" id="comment" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success btn-circle text-uppercase" type="submit" value="Post" id="submitComment">
                        Post Comment
                    </button>
                </div>
            </div>
        }
    </div>
</div>
</body>
</html>
